<header class="slds-global-header_container">
</header>
<div class="slds-context-bar">
    <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
        <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
            <div class="slds-context-bar__icon-action slds-context-bar__item_divider-right">
                <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
                    <span class="slds-icon-waffle">
                    <span class="slds-r1"></span>
                    <span class="slds-r2"></span>
                    <span class="slds-r3"></span>
                    <span class="slds-r4"></span>
                    <span class="slds-r5"></span>
                    <span class="slds-r6"></span>
                    <span class="slds-r7"></span>
                    <span class="slds-r8"></span>
                    <span class="slds-r9"></span>
                    </span>
                    <span class="slds-assistive-text">Open App Launcher</span>
                </button>
            </div>
            <span class="slds-context-bar__label-action slds-context-bar__app-name">
                <span class="slds-truncate" title="Saasoon">Saasoon</span>
            </span>
        </div> 
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
        <ul class="slds-grid">
            <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                <a routerLink="/customers" class="slds-context-bar__label-action" title="Customers">
                    <span class="slds-truncate" title="Customers">Customers</span>
                </a>
            </li>
            <li class="slds-context-bar__item slds-context-bar__item_divider-right">
                    <a class="slds-context-bar__label-action" title="Services">
                        <span class="slds-truncate" title="Services">Services</span>
                    </a>
                </li>
        </ul>
    </nav>
</div>


<router-outlet></router-outlet>

